.mat-btn-basic {
  color: black;
  background: RGBA(var(--basic)); }
  .mat-btn-basic.mat-basic-btn {
    color: black !important; }

.mat-btn-transparent-header, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  color: white;
  background: transparent; }
  .mat-btn-transparent-header.mat-basic-btn, [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver {
    color: RGBA(var(--basic)) !important; }

.mat-btn-primary, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"],
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"], [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button:hover, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button:hover {
  background: RGBA(var(--primary));
  color: white; }
  .mat-btn-primary.mat-basic-btn, [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div.mat-basic-btn[eventproxy^="isc_IButton_"],
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div.mat-basic-btn[eventproxy^="isc_IButton_"], [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocusedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button.mat-basic-btn:hover {
    color: RGBA(var(--primary)) !important; }

.mat-btn-accent, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
  background: RGBA(var(--accent));
  color: white; }
  .mat-btn-accent.mat-basic-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button.mat-basic-btn {
    color: RGBA(var(--accent)) !important; }

.mat-btn-disabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled {
  background: RGBA(var(--disabled));
  color: rgba(0, 0, 0, 0.26); }

.mat-basic-btn {
  background: transparent !important; }

.mat-raised-btn, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
  box-shadow: unset !important; }

.mat-flat-btn, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  background: transparent !important;
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: unset !important; }

.mat-btn, .mat-basic-btn, .mat-raised-btn, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button, .mat-flat-btn, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  font-size: 14px;
  font-weight: bold;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }

.mat-btn-hover:hover, [eventproxy="isc_HLayout_71"].normal .buttonRoundedOver:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver:hover, [eventproxy="isc_HLayout_30"].normal .buttonRoundedOver:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver:hover, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver:hover {
  background: rgba(0, 0, 0, 0.2) !important; }

/* Navbar container */
div#mainPanel > div:first-child > div {
  width: 100% !important;
  height: 48px !important;
  background: RGBA(var(--primary));
  z-index: 420001 !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); }

/* NavBar first line */
div#mainPanel > div:first-child > div > div {
  display: flex;
  padding: 0 !important;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 100%; }

/* WORKTIME label */
/* empty spacer */
[eventproxy="isc_Label_15"] {
  display: none; }

/* username, role, logout container*/
[eventproxy="isc_VLayout_9"].normal {
  height: auto !important;
  width: auto !important;
  position: unset !important; }
  [eventproxy="isc_VLayout_9"].normal > [eventproxy="isc_VLayout_9"] {
    display: flex;
    flex-direction: row;
    margin-right: 2rem; }
    [eventproxy="isc_VLayout_9"].normal > [eventproxy="isc_VLayout_9"] > div {
      position: unset !important;
      width: auto !important;
      height: auto !important;
      border-right: 8px solid lightgray;
      border-left: 8px solid lightgray;
      border-radius: 1em;
      background: lightgray;
      margin: 0 4px; }
    [eventproxy="isc_VLayout_9"].normal > [eventproxy="isc_VLayout_9"] table {
      width: auto !important; }

/* timers */
[eventproxy="isc_VLayout_0"].normal {
  position: unset !important;
  margin-left: auto;
  width: auto !important;
  height: auto !important;
  flex-grow: 0;
  flex-shrink: 1; }
  [eventproxy="isc_VLayout_0"].normal > [eventproxy="isc_VLayout_0"] {
    flex-wrap: wrap;
    display: flex; }
    [eventproxy="isc_VLayout_0"].normal > [eventproxy="isc_VLayout_0"] cwc-extra-timers {
      height: 20px; }
    [eventproxy="isc_VLayout_0"].normal > [eventproxy="isc_VLayout_0"] > div, [eventproxy="isc_VLayout_0"].normal > [eventproxy="isc_VLayout_0"] cwc-extra-timers {
      width: 186px !important; }
    [eventproxy="isc_VLayout_0"].normal > [eventproxy="isc_VLayout_0"] > div {
      position: unset !important;
      border-right: 8px solid lightgray;
      border-left: 8px solid lightgray;
      border-radius: 1em;
      background: lightgray;
      margin: 0 4px; }
    [eventproxy="isc_VLayout_0"].normal > [eventproxy="isc_VLayout_0"] > div:first-child {
      margin-left: -0.28em; }

/* NavBar second line (tabs) */
[eventproxy="isc_TabSet_0_tabBar"], [eventproxy="isc_TabSet_0_paneContainer"] {
  position: relative !important; }

.tabBarTop[eventproxy="isc_TabSet_0_tabBar"] {
  margin-top: -1rem; }

.tabBarTop {
  height: 48px !important;
  background: RGBA(var(--primary));
  width: 100% !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
  .tabBarTop > div {
    display: flex; }
    .tabBarTop > div:first-child {
      margin-left: -1em; }
    .tabBarTop > div > div {
      position: unset !important;
      display: flex;
      flex: 1; }

.tabButtonTopSelectedOver, .tabButtonTopSelected {
  border: transparent !important;
  border-bottom: 4px solid RGBA(var(--accent)) !important;
  border-top: 4px solid transparent !important; }

[class^="tabButtonTop"]:not(.tabButtonTopSelected):not(.tabButtonTopSelectedOver) {
  border: transparent !important;
  border-bottom: 4px solid transparent !important;
  border-top: 4px solid transparent !important; }

[class^="tabButtonTop"] {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: unset !important;
  padding: unset;
  height: 48px;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border-top: 4px solid transparent !important; }

[eventproxy^="isc_Tab_"] > [eventproxy^="isc_Tab_"], [eventproxy^="isc_Tab_"] table {
  width: 100%; }

/* Login button container */
[eventproxy="isc_IButton_7"] {
  display: inline-flex;
  position: unset !important;
  width: auto !important; }

[eventproxy="isc_IButton_7"] table * {
  display: flex;
  justify-content: center;
  align-items: center; }

.additionalBtnStyles, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver {
  width: 100%;
  height: 23px !important; }

[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver:hover {
  background: rgba(63, 81, 181, 0.1) !important; }

/* Logged out - login form */
[eventproxy="isc_DynamicForm_22"].normal {
  width: auto !important;
  height: auto !important;
  position: unset !important;
  display: inline-flex; }
  [eventproxy="isc_DynamicForm_22"].normal > [eventproxy="isc_DynamicForm_22"] {
    padding: 0 !important; }
  [eventproxy="isc_DynamicForm_22"].normal table {
    width: auto !important;
    height: auto !important; }
  [eventproxy="isc_DynamicForm_22"].normal tr, [eventproxy="isc_DynamicForm_22"].normal tbody {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }

[eventproxy="isc_VLayout_8"].normal > [eventproxy="isc_VLayout_8"] {
  position: unset !important;
  display: flex;
  justify-content: center;
  align-items: center; }

/* WORKTIME both containers */
[eventproxy="isc_Label_8"] {
  padding: 0;
  position: unset !important;
  height: auto !important; }

/* work time container inner */
[eventproxy="isc_Label_8"] > [eventproxy="isc_Label_8"] {
  height: auto;
  position: unset !important; }
  [eventproxy="isc_Label_8"] > [eventproxy="isc_Label_8"] td, [eventproxy="isc_Label_8"] > [eventproxy="isc_Label_8"] table {
    padding: 0;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px; }

.twoByNTable {
  /* row */
  /* row inner */
  /* [eventproxy="isc_HLayout_18"].normal > [eventproxy="isc_HLayout_18"] */
  /* cell outer */
  /* [eventproxy="isc_HLayout_16"].normal */
  /* cell inner */ }
  .twoByNTable > div {
    position: unset !important;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: white; }
  .twoByNTable > div > div {
    position: unset !important;
    width: auto !important; }
  .twoByNTable > div > div > div {
    position: unset !important;
    display: flex; }
  .twoByNTable > div > div:not(:last-child) > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .twoByNTable > div > div > div > div {
    position: unset !important;
    flex: 1;
    border: none !important;
    width: auto !important; }
  .twoByNTable > div > div > div > div > div {
    display: flex; }
  .twoByNTable > div > div > div > div > div > div {
    position: unset !important;
    flex: 1; }
  .twoByNTable td.normal {
    border: none !important; }
  .twoByNTable table {
    width: auto !important; }
  .twoByNTable::before {
    content: '';
    height: 48px;
    width: 100%;
    background: RGBA(var(--primary));
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    color: white;
    font-weight: bold; }

.mat-card-header, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal .normal[eventproxy="isc_HTMLFlow_5"],
[eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal .normal[eventproxy="isc_HTMLFlow_7"], [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-work-entries-navigator, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal .normal[eventproxy="isc_HTMLFlow_5"],
[eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal .normal[eventproxy="isc_HTMLFlow_7"], [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-work-entries-navigator {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid RGBA(var(--disabled)); }

.mat-card-header-primary, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal .normal[eventproxy="isc_HTMLFlow_5"],
[eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal .normal[eventproxy="isc_HTMLFlow_7"], [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-work-entries-navigator, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal .normal[eventproxy="isc_HTMLFlow_5"],
[eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal .normal[eventproxy="isc_HTMLFlow_7"], [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-work-entries-navigator {
  background: RGBA(var(--primary));
  color: white; }

.mat-btn-basic {
  color: black;
  background: RGBA(var(--basic)); }
  .mat-btn-basic.mat-basic-btn {
    color: black !important; }

.mat-btn-transparent-header, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  color: white;
  background: transparent; }
  .mat-btn-transparent-header.mat-basic-btn, [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver {
    color: RGBA(var(--basic)) !important; }

.mat-btn-primary, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"],
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"], [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button:hover, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button:hover {
  background: RGBA(var(--primary));
  color: white; }
  .mat-btn-primary.mat-basic-btn, [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div.mat-basic-btn[eventproxy^="isc_IButton_"],
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div.mat-basic-btn[eventproxy^="isc_IButton_"], [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocusedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button.mat-basic-btn:hover {
    color: RGBA(var(--primary)) !important; }

.mat-btn-accent, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
  background: RGBA(var(--accent));
  color: white; }
  .mat-btn-accent.mat-basic-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button.mat-basic-btn {
    color: RGBA(var(--accent)) !important; }

.mat-btn-disabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled {
  background: RGBA(var(--disabled));
  color: rgba(0, 0, 0, 0.26); }

.mat-basic-btn {
  background: transparent !important; }

.mat-raised-btn, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
  box-shadow: unset !important; }

.mat-flat-btn, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  background: transparent !important;
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: unset !important; }

.mat-btn, .mat-basic-btn, .mat-raised-btn, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button, .mat-flat-btn, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  font-size: 14px;
  font-weight: bold;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }

.mat-btn-hover:hover, [eventproxy="isc_HLayout_71"].normal .buttonRoundedOver:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver:hover, [eventproxy="isc_HLayout_30"].normal .buttonRoundedOver:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver:hover, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver:hover {
  background: rgba(0, 0, 0, 0.2) !important; }

/* fin-sum, commitments btns 20,21 but later changed to 26,27 */
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(3), [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(4),
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(3),
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(4) {
  display: inline-flex;
  height: 36px !important;
  overflow: visible !important;
  width: auto !important; }
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(3) table, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(4) table,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(3) table,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(4) table {
    overflow: visible !important;
    width: 100% !important; }
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(3) td, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(4) td,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(3) td,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(4) td {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"],
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] {
  border-radius: 4px; }

/* ==================================================== */
/* common */
[eventproxy="isc_VLayout_20"].normal,
[eventproxy="isc_VLayout_14"].normal {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important; }

/* regular */
[eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] {
  /* UserStatistics TopBar */
  /* UserStatistics ViewPort */
  /* Custom components */ }
  [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_71"].normal {
    opacity: 0;
    pointer-events: none; }
  [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal {
    position: unset !important;
    width: 100% !important;
    height: auto !important; }
    [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] {
      position: unset !important;
      padding: 0 !important;
      display: flex; }
      [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] > :first-child {
        padding-right: .5rem !important; }
      [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] > :last-child {
        padding-left: .5rem !important; }
      [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal {
        position: unset !important;
        width: auto !important;
        height: auto !important;
        flex: 1;
        display: flex;
        flex-wrap: wrap; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal cwc-month-forecast-chart {
          min-width: 100%;
          margin-bottom: 1rem; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal .twoByNTable {
          margin-top: 0; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal .twoByNTable::before {
            content: 'Statistics';
            margin-top: 0; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc-calendar > * {
          flex: 1; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc-calendar .twoByNTable {
          max-width: 400px;
          margin: -.75rem 0 2rem auto; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc-calendar [eventproxy="isc_VLayout_16"],
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc-calendar [eventproxy="isc_VLayout_22"] {
          margin-left: auto;
          max-width: 600px; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc {
          flex-direction: row-reverse; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc > cwc-calendar {
            margin-right: 1rem; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc .twoByNTable {
            margin-bottom: 2rem;
            margin-right: 0;
            margin-top: -0.75rem; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal.without-mfc > * {
            flex: 1; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal [eventproxy="isc_VLayout_25"] {
          width: 400px;
          padding: 0 !important;
          margin-right: 1rem; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_25"].normal [eventproxy="isc_VLayout_21"].normal {
          position: unset !important;
          height: auto !important;
          width: auto !important;
          line-height: normal; }
      [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal {
        top: 0 !important;
        left: 0 !important;
        width: auto !important;
        height: auto !important;
        position: relative !important; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"],
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_22"].normal {
          width: 600px;
          padding: 0 !important; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] {
          display: grid;
          grid-template-rows: 0 46px 400px 48px 48px;
          grid-template-columns: 49% 49%;
          grid-column-gap: 1em;
          flex: 0; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > :nth-child(1) {
            display: none; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > cwc-work-entries-navigator {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            border: none;
            margin-left: 1px;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 4;
            grid-row-end: 5; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(4) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > cwc-extract-work-log-btn {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 5;
            grid-row-end: 6; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > cwc-fetch-work-log-btn {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(3),
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:nth-child(4),
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > cwc-extract-work-log-btn,
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > cwc-fetch-work-log-btn {
            align-self: end; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div {
            position: unset !important; }
            [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div:first-child {
              width: auto !important; }
      [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal {
        position: unset !important;
        width: auto !important;
        height: auto !important;
        margin-top: 1em; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_VLayout_22"] {
          position: unset !important;
          width: auto !important; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_HTMLFlow_5"].normal,
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_HTMLFlow_7"].normal {
          position: unset !important;
          width: 100% !important;
          z-index: unset !important;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -1.1em;
          height: 46px !important;
          border: none !important; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_TimeoffGrid_1_0"].listGrid {
          position: unset !important;
          width: calc(100% - 2px) !important; }
          [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_TimeoffGrid_1_0"].listGrid [eventproxy="isc_Toolbar_4"] {
            width: 100% !important; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_TimeoffGrid_1_0_body"] {
          width: 100% !important; }
        [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] > [eventproxy="isc_HLayout_72"].normal > [eventproxy="isc_HLayout_72"] [eventproxy="isc_VLayout_22"].normal [eventproxy="isc_TimeoffGrid_1_0_sorter"] {
          right: 0;
          left: unset !important; }
  [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn {
    display: inline-block;
    border-radius: 4px; }
    [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button {
      width: 100%; }

/* after work */
[eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] {
  /* UserStatistics TopBar */
  /* UserStatistics ViewPort */
  /* Custom components */ }
  [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_30"].normal {
    opacity: 0;
    pointer-events: none; }
  [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal {
    position: unset !important;
    width: 100% !important;
    height: auto !important; }
    [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] {
      position: unset !important;
      padding: 0 !important;
      display: flex; }
      [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] > :first-child {
        padding-right: .5rem !important; }
      [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] > :last-child {
        padding-left: .5rem !important; }
      [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal {
        position: unset !important;
        width: auto !important;
        height: auto !important;
        flex: 1;
        display: flex;
        flex-wrap: wrap; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal cwc-month-forecast-chart {
          min-width: 100%;
          margin-bottom: 1rem; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal .twoByNTable {
          margin-top: 0; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal .twoByNTable::before {
            content: 'Statistics';
            margin-top: 0; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc-calendar > * {
          flex: 1; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc-calendar .twoByNTable {
          max-width: 400px;
          margin: -.75rem 0 2rem auto; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc-calendar [eventproxy="isc_VLayout_16"],
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc-calendar [eventproxy="isc_VLayout_22"] {
          margin-left: auto;
          max-width: 600px; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc {
          flex-direction: row-reverse; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc > cwc-calendar {
            margin-right: 1rem; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc .twoByNTable {
            margin-bottom: 2rem;
            margin-right: 0;
            margin-top: -0.75rem; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal.without-mfc > * {
            flex: 1; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal [eventproxy="isc_VLayout_19"] {
          width: 400px;
          padding: 0 !important;
          margin-right: 1rem; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_19"].normal [eventproxy="isc_VLayout_15"].normal {
          position: unset !important;
          height: auto !important;
          width: auto !important;
          line-height: normal; }
      [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal {
        top: 0 !important;
        left: 0 !important;
        width: auto !important;
        height: auto !important;
        position: relative !important; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"],
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_16"].normal {
          width: 600px;
          padding: 0 !important; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] {
          display: grid;
          grid-template-rows: 0 46px 400px 48px 48px;
          grid-template-columns: 49% 49%;
          grid-column-gap: 1em;
          flex: 0; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > :nth-child(1) {
            display: none; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > cwc-work-entries-navigator {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            border: none;
            margin-left: 1px;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 4;
            grid-row-end: 5; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(4) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > cwc-extract-work-log-btn {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 5;
            grid-row-end: 6; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > cwc-fetch-work-log-btn {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(3),
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:nth-child(4),
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > cwc-extract-work-log-btn,
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > cwc-fetch-work-log-btn {
            align-self: end; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div {
            position: unset !important; }
            [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div:first-child {
              width: auto !important; }
      [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal {
        position: unset !important;
        width: auto !important;
        height: auto !important;
        margin-top: 1em; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_VLayout_22"] {
          position: unset !important;
          width: auto !important; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_HTMLFlow_5"].normal,
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_HTMLFlow_7"].normal {
          position: unset !important;
          width: 100% !important;
          z-index: unset !important;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -1.1em;
          height: 46px !important;
          border: none !important; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_TimeoffGrid_1_0"].listGrid {
          position: unset !important;
          width: calc(100% - 2px) !important; }
          [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_TimeoffGrid_1_0"].listGrid [eventproxy="isc_Toolbar_4"] {
            width: 100% !important; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_TimeoffGrid_1_0_body"] {
          width: 100% !important; }
        [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] > [eventproxy="isc_HLayout_31"].normal > [eventproxy="isc_HLayout_31"] [eventproxy="isc_VLayout_16"].normal [eventproxy="isc_TimeoffGrid_1_0_sorter"] {
          right: 0;
          left: unset !important; }
  [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn {
    display: inline-block;
    border-radius: 4px; }
    [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
      width: 100%; }

[eventproxy="isc_VLayout_6"].normal [eventproxy="isc_VLayout_5"].normal [eventproxy="isc_HTMLFlow_1"].normal > [eventproxy="isc_HTMLFlow_1"] h2 {
  font-size: 1.5rem; }

.mat-btn-basic {
  color: black;
  background: RGBA(var(--basic)); }
  .mat-btn-basic.mat-basic-btn {
    color: black !important; }

.mat-btn-transparent-header, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  color: white;
  background: transparent; }
  .mat-btn-transparent-header.mat-basic-btn, [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_HLayout_71"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_HLayout_30"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver {
    color: RGBA(var(--basic)) !important; }

.mat-btn-primary, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"],
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"], [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button:hover, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button:hover {
  background: RGBA(var(--primary));
  color: white; }
  .mat-btn-primary.mat-basic-btn, [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedDisabled,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_8"].normal .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div.mat-basic-btn[eventproxy^="isc_IButton_"],
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div.mat-basic-btn[eventproxy^="isc_IButton_"], [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocusedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRounded,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedDown,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedFocusedOver,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocused,
  [eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .mat-basic-btn.buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button.mat-basic-btn:hover, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button.mat-basic-btn:hover {
    color: RGBA(var(--primary)) !important; }

.mat-btn-accent, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
  background: RGBA(var(--accent));
  color: white; }
  .mat-btn-accent.mat-basic-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button.mat-basic-btn, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button.mat-basic-btn {
    color: RGBA(var(--accent)) !important; }

.mat-btn-disabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled {
  background: RGBA(var(--disabled));
  color: rgba(0, 0, 0, 0.26); }

.mat-basic-btn {
  background: transparent !important; }

.mat-raised-btn, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button {
  box-shadow: unset !important; }

.mat-flat-btn, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  background: transparent !important;
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: unset !important; }

.mat-btn, .mat-basic-btn, .mat-raised-btn, [eventproxy="isc_VLayout_8"].normal .buttonRounded,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDisabled,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedDown,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_8"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRounded,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedDown,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_20"].normal > [eventproxy="isc_VLayout_20"] cwc-extract-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-fetch-work-log-btn button, [eventproxy="isc_VLayout_14"].normal > [eventproxy="isc_VLayout_14"] cwc-extract-work-log-btn button, .mat-flat-btn, [eventproxy="isc_HLayout_71"].normal .buttonRounded,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver, [eventproxy="isc_HLayout_30"].normal .buttonRounded,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDisabled,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedDown,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  font-size: 14px;
  font-weight: bold;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }

.mat-btn-hover:hover, [eventproxy="isc_HLayout_71"].normal .buttonRoundedOver:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_HLayout_71"].normal .buttonRoundedSelectedFocusedOver:hover, [eventproxy="isc_HLayout_30"].normal .buttonRoundedOver:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedFocusedOver:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_HLayout_30"].normal .buttonRoundedSelectedFocusedOver:hover, [eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_18"].normal > [eventproxy="isc_VLayout_18"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedFocusedOver:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocused:hover,
[eventproxy="isc_VLayout_24"].normal > [eventproxy="isc_VLayout_24"] > div[eventproxy^="isc_IButton_"] .buttonRoundedSelectedFocusedOver:hover {
  background: rgba(0, 0, 0, 0.2) !important; }

*[tooltip] {
  position: relative; }
  *[tooltip]::after, *[tooltip]::before {
    font-size: .75rem;
    line-height: 1rem;
    position: absolute;
    opacity: 0;
    z-index: 9000;
    transition: opacity .5s ease;
    pointer-events: none; }
  *[tooltip]:hover::after, *[tooltip]:hover::before {
    opacity: 1; }
  *[tooltip]:not([tooltip-position])::before {
    content: attr(tooltip);
    white-space: pre-line;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%); }
  *[tooltip]:not([tooltip-position])::after {
    content: " ";
    border-style: solid;
    border-width: 5px;
    border-color: transparent black transparent transparent;
    top: 50%;
    margin-top: -5px;
    right: -10px; }

*[tooltip-position="top"]::before {
  content: attr(tooltip);
  white-space: pre-line;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%); }

*[tooltip-position="top"]::after {
  content: " ";
  border-style: solid;
  border-width: 5px;
  border-color: black transparent transparent transparent;
  left: 50%;
  margin-left: -5px;
  bottom: 100%; }

*[tooltip-position="bottom"]::before {
  content: attr(tooltip);
  white-space: pre-line;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%); }

*[tooltip-position="bottom"]::after {
  content: " ";
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent black transparent;
  left: 50%;
  margin-left: -5px;
  top: 100%; }

*[tooltip-position="left"]::before {
  content: attr(tooltip);
  white-space: pre-line;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%); }

*[tooltip-position="left"]::after {
  content: " ";
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent black;
  top: 50%;
  margin-top: -5px;
  left: -10px; }

*[tooltip-position="right"]::before {
  content: attr(tooltip);
  white-space: pre-line;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%); }

*[tooltip-position="right"]::after {
  content: " ";
  border-style: solid;
  border-width: 5px;
  border-color: transparent black transparent transparent;
  top: 50%;
  margin-top: -5px;
  right: -10px; }

:root {
  --page-background: 250, 250, 250, 1;
  --basic: 0, 0, 0, 1;
  --primary: 63, 81, 181, 1;
  --accent: 245, 0, 87, 1;
  --warning: 244, 67, 54, 1;
  --disabled: 0, 0, 0, 0.12; }

html {
  background: #fafafa; }

html, body {
  margin: 0; }

*[hide],
*[hidden] {
  display: none !important; }

/* rest of the page, below first for of navbar */
[eventproxy="isc_TabSet_0"] {
  width: 100% !important;
  overflow: visible !important; }

[eventproxy="isc_TabSet_0_paneContainer"].tabSetContainer {
  background-color: transparent !important;
  outline: none;
  border: none !important;
  margin: 0 auto;
  width: calc(100% - 32px) !important;
  border-radius: 4px;
  min-height: 80vh;
  height: auto !important;
  overflow: visible !important; }

/* Debug console wrapper */
div[id="isc_VLayout_7_wrapper"] {
  position: fixed;
  bottom: 0; }

div#isc_A, div#isc_B,
.normal[eventproxy="isc_TabSet_0_tabBar_baseLine_isc_OID_0"],
div[eventproxy="isc_TabSet_0_tabBar_baseLine"],
.tabBarTop[eventproxy="isc_TabSet_0_tabBarControlLayout"] {
  display: none; }

/* Move btn bar a bit to compensate for UT tab changes */
[eventproxy="isc_VLayout_13"] > [eventproxy="isc_HLayout_14"] {
  top: -10px !important; }
